# Projeto 2 - Ci√™ncia dos Dados

Nome: Henrique Mualem Marti

Nome: Victor Vergara

Nome: Edgard Neto

Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
# Classificador autom√°tico de sentimento

## Preparando o ambiente no jupyter:

In [1]:
%%capture

#Instalando o tweepy
!pip install tweepy

In [44]:
import tweepy
import math
import os.path
import pandas as pd
import json
import re
import string
from random import shuffle

___
## Autenticando no  Twitter

* Conta: ***[Preencha aqui o id da sua conta. Ex: @fulano ]***

In [3]:
#Dados de autentica√ß√£o do twitter:

#Coloque aqui o identificador da conta no twitter: @fulano

#leitura do arquivo no formato JSON
with open('auth.pass.json') as fp:    
    data = json.load(fp)

#Configurando a biblioteca. N√£o modificar
auth = tweepy.OAuthHandler(data['consumer_key'], data['consumer_secret'])
auth.set_access_token(data['access_token'], data['access_token_secret'])

FileNotFoundError: [Errno 2] No such file or directory: 'auth.pass.json'

___
## Etapas do projeto:

### Escolha de um produto e coleta das mensagens

In [ ]:
#Produto escolhido:
produto = 'coca'

#Quantidade m√≠nima de mensagens capturadas:
n = 1000
#Quantidade m√≠nima de mensagens para a base de treinamento:
t = 250

#Filtro de l√≠ngua, escolha uma na tabela ISO 639-1.
lang = 'pt'

Capturando os dados do twitter:

In [ ]:
#Cria um objeto para a captura
api = tweepy.API(auth)

#Inicia a captura, para mais detalhes: ver a documenta√ß√£o do tweepy
i = 1
msgs = []
for msg in tweepy.Cursor(api.search, q=produto, lang=lang, tweet_mode="extended").items():    
    msgs.append(msg.full_text.lower())
    i += 1
    if i > n:
        break

#Embaralhando as mensagens para reduzir um poss√≠vel vi√©s
shuffle(msgs)

Salvando os dados em uma planilha Excel:

In [ ]:
#Verifica se o arquivo n√£o existe para n√£o substituir um conjunto pronto
if not os.path.isfile('./{0}.xlsx'.format(produto)):
    
    #Abre o arquivo para escrita
    writer = pd.ExcelWriter('{0}.xlsx'.format(produto))

    #divide o conjunto de mensagens em duas planilhas
    dft = pd.DataFrame({'Treinamento' : pd.Series(msgs[:t])})
    dft.to_excel(excel_writer = writer, sheet_name = 'Treinamento', index = False)

    dfc = pd.DataFrame({'Teste' : pd.Series(msgs[t:])})
    dfc.to_excel(excel_writer = writer, sheet_name = 'Teste', index = False)

    #fecha o arquivo
    writer.save()

___
### Classificando as mensagens na coragem

Esta etapa √© manual. Fa√ßa a mesma pelo Excel.

In [3]:
file = pd.read_excel('coca.xlsx' , sheet_name='Treinamento')
file.head()

                                         Treinamento  Relev√¢ncia
0  @r4finh0__ a mesa de natal da ines brasil com ...           1
1  rt @dcechetto: as vezes eu n√£o quero tomar ref...           1
2  pai bom e o meu mano, eu cheia de ressaca cheg...           1
3  @mariajoanaff aconteceu comigo esse ano logo d...           1
4          n√£o tomem coca cola de madrugada crian√ßas           1

#### Legenda de classifica√ß√£o:
0: Muito relevante - os *twetts* que expressam opini√µes claras e expl√≠citas sobre a bebida "Coca-Cola".

1: Relevante - os *twetts* que expressam alguma opini√£o sobre a bebida "Coca-Cola".

2: Neutro - os *twetts* que n√£o expressam nenhuma opini√£o sobre a bebida "Coca-Cola".

3: Inrrelevante - os *twetts* que n√£o est√£o relacionados a bebida "Coca-Cola".

In [31]:
#Limpeza
def cleanup(text):
    
    punctuation = '[!\-.:?;/()_,""''**\n]' 
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, ' ', text)
    return text_subbed

#for items in file.Treinamento:
    #p=cleanup(items)

In [34]:
file.head()

                                         Treinamento  Relev√¢ncia
0  @r4finh0__ a mesa de natal da ines brasil com ...           1
1  rt @dcechetto: as vezes eu n√£o quero tomar ref...           1
2  pai bom e o meu mano, eu cheia de ressaca cheg...           1
3  @mariajoanaff aconteceu comigo esse ano logo d...           1
4          n√£o tomem coca cola de madrugada crian√ßas           1

In [61]:
file.Treinamento = file.Treinamento.apply(lambda x: x.lower())
file.Treinamento = file.Treinamento.apply(lambda x: x.translate(str.maketrans('','',string.punctuation)))

In [64]:
file.head()

                                         Treinamento  Relev√¢ncia
0  r4finh0 a mesa de natal da ines brasil com 1 c...           1
1  rt dcechetto as vezes eu n√£o quero tomar refri...           1
2  pai bom e o meu mano eu cheia de ressaca chegu...           1
3  mariajoanaff aconteceu comigo esse ano logo de...           1
4          n√£o tomem coca cola de madrugada crian√ßas           1

In [65]:
# Transformando quantitativa em qualitativa
file.Relev√¢ncia = file.Relev√¢ncia.astype('category')
file.Relev√¢ncia

0      1
1      1
2      1
3      1
4      1
5      1
6      0
7      1
8      2
9      1
10     1
11     1
12     3
13     2
14     2
15     2
16     2
17     2
18     1
19     2
20     3
21     3
22     3
23     1
24     0
25     0
26     0
27     2
28     1
29     1
      ..
720    1
721    2
722    1
723    3
724    2
725    1
726    1
727    1
728    2
729    3
730    1
731    1
732    3
733    1
734    1
735    1
736    3
737    1
738    1
739    1
740    1
741    1
742    0
743    1
744    0
745    3
746    1
747    1
748    1
749    1
Name: Relev√¢ncia, Length: 750, dtype: category
Categories (4, int64): [0, 1, 2, 3]

In [66]:
file_MR=file.loc[file.Relev√¢ncia==0,:]
file_R=file.loc[file.Relev√¢ncia==1,:]
file_N=file.loc[file.Relev√¢ncia==2,:]
file_IR=file.loc[file.Relev√¢ncia==3,:]

#
'''
file_MR=file_MR.loc[:,['Treinamento']]
file_R=file_R.loc[:,['Treinamento']]
file_N=file_N.loc[:,['Treinamento']]
file_IR=file_IR.loc[:,['Treinamento']]
'''
#
file_MR.head()

                                          Treinamento Relev√¢ncia
6   to tomando uma coca cedo j√° no intervalo tramp...          0
24  n√£o tem uma coca cola nessa casa isso me deixa...          0
25           hoje s√≥ quero uma coca bem geladaaaaa ü§™ü§§          0
26            coca cola √© um √≥timo desjejum recomendo          0
30                        n√£o bebo vinho s√≥ bebo coca          0

In [67]:
#file_MR = file_MR.Treinamento.astype('category')
#file_R = file_R.Treinamento.astype('category')
#file_N = file_N.Treinamento.astype('category')
#file_IR = file_IR.Treinamento.astype('category')

file_MR.head()

                                          Treinamento Relev√¢ncia
6   to tomando uma coca cedo j√° no intervalo tramp...          0
24  n√£o tem uma coca cola nessa casa isso me deixa...          0
25           hoje s√≥ quero uma coca bem geladaaaaa ü§™ü§§          0
26            coca cola √© um √≥timo desjejum recomendo          0
30                        n√£o bebo vinho s√≥ bebo coca          0

In [27]:
serie_MR=file_MR.astype('category')
serie_R=file_R.astype('category')
serie_N=file_N.astype('category')
serie_IR=file_IR.astype('category')

In [23]:
#
'''
serie_MR=pd.Series(file_MR.split())
serie_R=pd.Series(file_R.split())
serie_N=pd.Series(file_N.split())
serie_IR=pd.Series(file_IR.split())
'''
#
serie_MR.dtypes

Treinamento    category
dtype: object

___
### Montando o Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [ ]:
MR

___
### Verificando a performance

Agora voc√™ deve testar o seu classificador com a base de Testes.

___
### Concluindo

## Aperfei√ßoamento:

Os trabalhos v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis (*feito*)
* Corrigir separa√ß√£o de espa√ßos entre palavras e emojis ou emojis e emojis
* Propor outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o ou classifica√ß√£o
* Criar categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que n√£o posso usar o pr√≥prio classificador para gerar mais amostras de treinamento
* Propor diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* Montar um dashboard que periodicamente realiza an√°lise de sentimento e visualiza estes dados

# Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**